.wrapper {
  display: grid;

  grid-template-rows: auto;
  grid-template-columns: 50% 50%;

  border-style: solid;
  border-color: #3f3f3f;
  border-radius: 5px;

  overflow: hidden;
  margin: auto;
}

.vidBox,
.headerBox {
  margin: 0 auto;
  padding: 20px;

  width: 100%;
}

.headerBox {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header {
  max-height: 200px;
  overflow: hidden;

  margin: 0 auto;

  width: 90%;
}

.vidBox {
  background-color: #3f3f3f;
}
.vidPlayer {
  height: 225px;
  margin: auto;
}

@media (min-width: 2000px) {
  .vidPlayer {
    height: 300px;
  }
}

@media (max-width: 1500px) and (min-width: 1400px) {
  .header {
    font-size: 20px;
  }
  .vidPlayer {
    height: 170px;
  }
}

@media (max-width: 1400px) {
  .vidPlayer {
    height: 260px;
  }
}

@media (max-width: 1100px) {
  .vidPlayer {
    height: 200px;
  }
}

@media (max-width: 700px) {
  .vidPlayer {
    height: 250px;
  }
  .wrapper {
    grid-template-columns: 100%;
  }
}

@media (max-width: 424px) {
  .vidPlayer {
    height: 180px;
  }
}

@media (max-width: 320px) {
  .vidPlayer {
    height: 140px;
  }
}
