.wrapper {
  display: grid;

  grid-template-rows: auto;
  grid-template-columns: 30% 68.5%;

  gap: 0 1.5%;

  color: white;

  overflow: hidden;
  margin: 0 auto 10px;
}

.descBox {
  border-style: solid;
  border-color: #3f3f3f;
  border-radius: 5px;

  background-color: #3f3f3f;

  margin: 0 auto;
  padding: 20px;

  height: 50vh;
  width: 100%;
}

.vidBox {
  border-style: solid;
  border-color: #3f3f3f;
  border-radius: 5px;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;
}
.desc {
  font-size: 120%;
  max-height: 100%;
}

.title {
  margin-bottom: 20px;
  font-size: 150%;
}

.vidPlayer {
  height: 100%;
  width: 100%;
  margin: auto;
}

/* @media (max-width: 2000px) {
  .vidBox,
  .headerBox {
    height: 280px;
  }
  .header {
    font-size: 200%;
  }
}

@media (max-width: 1700px) {
  .vidBox,
  .headerBox {
    height: 225px;
  }
  .header {
    font-size: 150%;
  }
}

@media (max-width: 1400px) {
  .vidBox,
  .headerBox {
    height: 310px;
  }
  .header {
    font-size: 150%;
  }
}

@media (max-width: 1200px) {
  .vidBox,
  .headerBox {
    height: 260px;
  }
}

@media (max-width: 1000px) {
  .vidBox,
  .headerBox {
    height: 220px;
  }
}

@media (max-width: 900px) {
  .vidBox,
  .headerBox {
    height: 240px;
  }
}

@media (max-width: 750px) {
  .vidBox,
  .headerBox {
    height: 200px;
  }
}

@media (max-width: 700px) {
  .vidBox,
  .headerBox {
    height: 300px;
  }
  .header {
    font-size: 220%;
  }

  .wrapper {
    grid-template-columns: 100%;
  }
}

@media (max-width: 700px) {
  .vidBox,
  .headerBox {
    height: 300px;
  }
  .header {
    font-size: 190%;
  }
}

@media (max-width: 550px) {
  .vidBox,
  .headerBox {
    height: 280px;
  }
  .header {
    font-size: 190%;
  }
}

@media (max-width: 450px) {
  .vidBox,
  .headerBox {
    height: 230px;
  }
  .header {
    font-size: 170%;
  }
}

@media (max-width: 370px) {
  .header {
    font-size: 150%;
  }
}
@media (max-width: 330px) {
  .vidBox,
  .headerBox {
    height: 190px;
  }
  .header {
    font-size: 120%;
  }
} */
