.wrapper {
  display: grid;

  grid-template-rows: auto;
  grid-template-columns: 30% 68.5%;

  gap: 0 1.5%;

  color: white;

  overflow: hidden;
  margin: 0 auto 10px;
}

.descBox {
  border-style: solid;
  border-color: #3f3f3f;
  border-radius: 5px;

  background-color: #3f3f3f;

  margin: 0 auto;
  padding: 20px;

  width: 100%;
}

.vidBox {
  border-style: solid;
  border-color: #3f3f3f;
  border-radius: 5px;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;
}
.desc {
  font-size: 200%;
  max-height: 100%;
}

.title {
  margin-bottom: 20px;
  font-size: 300%;
}

.vidPlayer {
  height: 100%;
  width: 100%;
  margin: auto;
}

@media (min-width: 2200px) {
  .vidBox {
    height: 700px;
  }
}

@media (max-width: 2200px) {
  .vidBox {
    height: 570px;
  }
}

@media (max-width: 1900px) {
  .desc {
    font-size: 150%;
  }

  .title {
    font-size: 200%;
  }
  .vidBox {
    height: 490px;
  }
}

@media (max-width: 1600px) {
  .desc {
    font-size: 120%;
  }
  .title {
    font-size: 170%;
  }
  .vidBox {
    height: 415px;
  }
}

@media (max-width: 1400px) {
  .vidBox {
    height: 365px;
  }
}

@media (max-width: 1260px) {
  .desc {
    font-size: 100%;
  }
  .title {
    font-size: 150%;
  }
  .vidBox {
    height: 325px;
  }
}

@media (max-width: 1100px) {
  .desc {
    font-size: 80%;
  }
  .title {
    font-size: 130%;
  }
}

@media (max-width: 1050px) {
  .vidBox {
    height: 300px;
  }
}

@media (max-width: 950px) {
  .desc {
    font-size: 60%;
  }
  .title {
    font-size: 110%;
  }
  .vidBox {
    height: 250px;
  }
}

@media (max-width: 850px) {
  .vidBox {
    height: 222px;
  }
}

@media (max-width: 800px) {
  .descBox {
    background-color: none;
    border-style: none;

    padding: 0;
    height: 40%;
    margin-bottom: 5%;
  }

  .vidBox {
    height: 280px;
    padding: 0;
    border-color: white;
  }

  .wrapper {
    display: block;
    border-style: solid;
    border-color: #3f3f3f;
    border-radius: 5px;

    background-color: #3f3f3f;
    padding: 20px;
    height: 25%;
  }
}

@media (max-width: 800px) {
  .vidBox {
    height: 290px;
  }
}

@media (max-width: 750px) {
  .vidBox {
    height: 210px;
  }
}

@media (max-width: 600px) {
  .vidBox {
    height: 185px;
  }
}

@media (max-width: 500px) {
  .vidBox {
    height: 155px;
  }
}

@media (max-width: 450px) {
  .wrapper {
    padding: 10px;
  }
}

@media (max-width: 380px) {
  .vidBox {
    height: 135px;
  }
}

@media (max-width: 300px) {
  .vidBox {
    height: 125px;
  }
}
