.home {
  display: grid;

  grid-template-rows: 400px;
  grid-template-columns: 40% 40%;

  grid-auto-flow: dense;
  gap: 30px;

  position: relative;
  top: 5.5vw;

  margin-bottom: 100px;

  justify-content: center;
}

@media (min-width: 2000px) {
  .home {
    grid-template-columns: 20% 20%;
  }
}

@media (max-width: 2000px) {
  .home {
    grid-template-columns: 25% 25%;
  }
}

@media (max-width: 1600px) {
  .home {
    grid-template-columns: 30% 30%;
  }
}

@media (max-width: 1400px) {
  .home {
    grid-template-columns: 35% 35%;
  }
}

@media (max-width: 1200px) {
  .home {
    grid-template-columns: 40% 40%;
    gap: 5%;
  }
}

@media (max-width: 950px) {
  .home {
    grid-template-columns: 45% 45%;
    gap: 5%;
  }
}

@media (max-width: 800px) {
  .home {
    grid-template-rows: 600px auto 390px;
    grid-template-columns: 60%;
    gap: 20px;
  }
}

@media (max-width: 600px) {
  .home {
    grid-template-columns: 80%;
    gap: 20px;
  }
}

@media (max-width: 400px) {
  .home {
    grid-template-columns: 95%;
    gap: 20px;
  }
}
