.home {
  display: grid;

  grid-template-rows: 400px 324px;
  grid-template-columns: 40% 40%;

  grid-auto-flow: dense;
  gap: 30px;

  position: relative;

  margin: 0 auto 10px;

  justify-content: center;
}

@media (min-width: 2000px) {
  .home {
    grid-template-columns: 40% 40%;

    width: 50%;
  }
}

@media (max-width: 2000px) and (min-width: 1601px) {
  .home {
    grid-template-columns: 45% 45%;

    width: 55%;
  }
}

@media (max-width: 1600px) {
  .home {
    grid-template-columns: 30% 30%;
  }
}

@media (max-width: 1400px) {
  .home {
    grid-template-columns: 35% 35%;
  }
}

@media (max-width: 1200px) {
  .home {
    grid-template-columns: 40% 40%;
    gap: 5%;
  }
}

@media (max-width: 950px) {
  .home {
    grid-template-columns: 45% 45%;
    gap: 5%;
  }
}

@media (max-width: 800px) {
  .home {
    grid-template-rows: 600px 122px 390px;
    grid-template-columns: 60%;
    gap: 10px;
  }
}

@media (max-width: 600px) {
  .home {
    grid-template-columns: 80%;
  }
}

@media (max-width: 450px) {
  .home {
    grid-template-rows: 510px 625px 390px;
  }
}

@media (max-width: 420px) {
  .home {
    grid-template-columns: 95%;
  }
}
