.vehicleDemo {
  margin: 0 auto 10px;
  width: 90%;
}

@media (max-width: 800px) {
  .vehicleDemo {
    width: 95%;
  }
}

@media (max-width: 420px) {
  .vehicleDemo {
    width: 80%;
  }
}

@media (max-width: 300px) {
  .vehicleDemo {
    width: 85%;
  }
}
