.vehicleDemo {
  position: relative;
  top: 16vh;
  margin: auto;
  width: 90%;
}

@media (min-width: 2000px) {
  .vehicleDemo {
  }
}

@media (max-width: 2000px) {
  .vehicleDemo {
  }
}

@media (max-width: 1600px) {
  .vehicleDemo {
  }
}

@media (max-width: 1400px) {
  .vehicleDemo {
  }
}

@media (max-width: 1200px) {
  .vehicleDemo {
  }
}

@media (max-width: 950px) {
  .vehicleDemo {
  }
}
