.vehicleDemo {
  margin: auto;
  width: 90%;
}

@media (max-width: 800px) {
  .vehicleDemo {
    width: 70%;
  }
}

@media (max-width: 600px) {
  .vehicleDemo {
    width: 80%;
  }
}

@media (max-width: 450px) {
  .vehicleDemo {
    width: 90%;
  }
}

@media (max-width: 350px) {
  .vehicleDemo {
    width: 95%;
  }
}
