.pos {
  position: relative;
  top: 8vw;
}

@media (max-width: 1700px) {
  .pos {
    top: 9vw;
  }
}

/* Width */
@media (max-width: 1500px) {
  .pos {
    top: 10vw;
  }
}

@media (max-width: 1000px) {
  .pos {
    top: 13vw;
  }
}

@media (max-width: 700px) {
  .pos {
    top: 15vw;
  }
}

@media (max-width: 550px) {
  .pos {
    top: 18vw;
  }
}

@media (max-width: 490px) {
  .pos {
    top: 20vw;
  }
}

@media (max-width: 428px) {
  .pos {
    top: 22vw;
  }
}

/* Height */
@media (max-width: 850px) and (min-height: 900px) {
  .pos {
    margin-bottom: 55%;
  }
}

@media (max-width: 950px) and (min-height: 1200px) {
  .pos {
    margin-bottom: 70%;
  }
}
