.wrapper {
  display: grid;

  grid-template-columns: 47% 47%;
  gap: 10px;

  position: relative;

  justify-content: center;

  margin-bottom: 10px;
}

.centerLoading {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* Width */

@media (max-width: 1400px) {
  .wrapper {
    grid-template-columns: 75%;
  }
}

@media (max-width: 900px) {
  .wrapper {
    grid-template-columns: 90%;
  }
}

@media (max-width: 700px) and (min-width: 550px) {
  .wrapper {
    grid-template-columns: 75%;
  }
}

@media (max-width: 400px) {
  .wrapper {
    grid-template-columns: 95%;
  }
}
