.wrapper {
  display: grid;

  grid-template-columns: 47% 47%;
  gap: 20px;

  position: relative;

  justify-content: center;

  margin-bottom: 20vh;
}

.centerLoading {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* Width */

@media (max-width: 1400px) {
  .wrapper {
    grid-template-columns: 75%;
  }
}

@media (max-width: 900px) {
  .wrapper {
    grid-template-columns: 90%;

    margin-bottom: 18vh;
  }
}

@media (max-width: 700px) and (min-width: 550px) {
  .wrapper {
    grid-template-columns: 75%;
  }
}

@media (max-width: 400px) {
  .wrapper {
    grid-template-columns: 95%;
  }
}

/* Height */
@media (max-width: 850px) and (min-height: 900px) {
  .wrapper {
    margin-bottom: 40vh;
  }
}

@media (max-width: 950px) and (min-height: 1200px) {
  .wrapper {
    margin-bottom: 50vh;
  }
}
