.box {
  color: white;

  padding: 30px;
  margin: 0 auto 20px;
}

.img {
  border-radius: 10px;

  width: 350px;

  margin: 30px auto;

  object-fit: cover;
}

.text {
  width: 400px;

  margin: 0 auto 30px;
}

@media (min-width: 1300px) {
  .text {
    padding: 0 50px;
  }
}

@media (max-width: 580px) {
  .img {
    width: 200px;
    height: 200px;
  }

  .text {
    width: 200px;
  }
}
