.box {
  border-style: solid;
  border-radius: 5px;
  border-width: thick;

  color: white;
  padding: 30px;
  margin: 0 auto 20px;
  width: 50%;
}

.title {
  /* font */
}
.text {
  /* font */
}

.img {
  border-radius: 2px;
  height: 200px;
  margin: 30px auto;
}
