.textImgBox {
  border-style: solid;
  color: black;

  width: 75%;
  margin: auto;
}
.textBox {
  text-align: left;
  width: 50%;
  display: inline-block;
}
.title {
}
.desc {
}
.imgBox {
  width: 50%;
  display: inline-block;
}
.img {
  height: 200px;
  margin: 0 auto -4px;
  position: relative;
  bottom: 0;
  text-align: right;
}
