.parentDiv {
  display: inline-block;
}

.componentBox {
  display: inline-block;
  color: white;
}

.img {
  width: 80px;
  margin-right: 10px;

  border-radius: 5px;
}

.usernameAndImg {
  margin: 20px auto;
}

.timelineBox {
  height: 500px;
  margin: 5px;
  overflow: auto;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.timelineBox::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.timelineBox {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@media (max-width: 1230px) {
  .parentDiv {
    display: block;
  }
}
