.vidBox {
  width: 50%;
  margin: 0 auto;
  padding: 10px;

  color: white;
}
.header {
  font-size: 20px;
  width: 370px;
  margin: auto;
}

.line {
  border-color: white;

  margin: 20px auto 0;
  border-style: solid;
  border-width: medium;
  border-radius: 5px;

  width: 50%;
}

.vidPlayer {
  color: white;

  border-color: white;
  border-style: solid;
  border-width: thick;
  border-radius: 5px;

  height: 400px;
  width: 600px;
  margin: 20px auto;
}
