.btn {
  border-style: solid;
  border-radius: 10px;
  border-color: white;

  padding: 10px 15px;

  background-color: black;
  color: white;
}

.btn:hover {
  background-color: white;
  color: black;
}
.btn:focus {
  background-color: white;

  color: black;
}

.text {
  width: 70%;
  max-height: 200px;
  padding: 10px;

  margin: 30px auto;
  overflow: auto;

  border-style: solid;
  color: white;
  border-radius: 5px;
}
