.btn,
.bigBtn {
  border-style: solid;
  border-radius: 5px;
  border-width: 3px;
  border-color: white;

  padding: 10px 15px;

  background-color: #3f3f3f;
  color: white;
}

.bigBtn {
  border-color: #3f3f3f;

  margin-bottom: 20px;
  width: 90%;
  height: 100px;

  font-size: 24px;
}

.btn:hover,
.bigBtn:hover {
  background-color: white;
  color: black;
}

.btn:focus,
.bigBtn:focus {
  background-color: white;
  color: black;
}

/* @media (max-width: 829px) {
  .bigBtn {
    width: 55%;
  }
} */
