.box {
  margin: 0 auto;

  display: inline-block;
  width: 50%;
  margin-bottom: 20px;
}

.line {
  border-color: white;

  margin: 40px auto 20px;
  border-style: solid;
  border-width: medium;
  border-radius: 5px;

  width: 30%;
}
