.iconText {
  margin: 0;
  font-weight: bold;
}

.linkDiv {
  display: inline-block;
  margin: 61px;
  transform: scale(3);
}

.link {
  text-decoration: none;
  display: inline-block;
  color: black;
}

.link:hover {
  color: #3f3f3f;
}
