.iconText {
  margin: 0;
  font-weight: bold;
}

.linkDiv {
  display: inline-block;
  margin: 10px;
}

.link {
  text-decoration: none;
  display: inline-block;
  color: #3f3f3f;
}

.link:hover,
.link:active {
  color: white;
}
