.heading {
  color: white;
}
.line {
  border-color: white;
  border-style: solid;
  border-width: medium;
  border-radius: 5px;

  margin: 20px auto;

  width: 30%;
}

@media (min-width: 1440px) {
  .line {
    width: 20%;
  }
}
