.navBox {
  text-align: center;
  background-color: black;

  color: white;
  padding: 20px;
  margin: 0 auto 40px;
}

.text {
  margin: 0 25px;
  color: gray;
  text-decoration: none;
}
.text:hover {
  color: white;
  border-style: none none solid;
}
