.navBox {
  text-align: center;

  color: white;

  padding: 20px;
  margin: 0 auto 40px;
}

.title {
  font-family: "Varela Round", sans-serif;
}

.selected,
.text {
  font-family: "Varela Round", sans-serif;
  text-decoration: none;

  margin: 0 22px;
  color: gray;
}

.selected:hover,
.text:hover {
  color: white;
  border-style: none none solid;
  text-decoration: none;
}

.selected {
  color: white;
}

/* Tablets */
@media (max-width: 600px) {
  .text,
  .selected {
    margin: 0 10px;
  }
}

@media (max-width: 460px) {
  .text,
  .selected {
    margin: 0 9px;
    font-size: 10px;
  }
}

@media (max-width: 330px) {
  .text,
  .selected {
    margin: 0 3px;
    font-size: 10px;
  }
}
