.missionBox,
.newsBox,
.vehiclesBox {
  min-height: 375px;
  width: 35%;

  vertical-align: middle;

  margin: 20px auto;
  padding: 20px;

  border-style: solid;
  border-width: thick;
  border-radius: 5px;

  color: white;
}

/* Vehicle Box */
@media (max-width: 1642px) and (min-width: 1466px) {
  .vehiclesBox {
    height: 460px;
    padding: 20px 40px;
  }
}

@media (max-width: 1465px) and (min-width: 1290px) {
  .vehiclesBox {
    height: 460px;
    padding: 22px;
  }
}

@media (max-width: 1754px) and (min-width: 1300px) {
  .missionBox {
    height: 535px;
  }
}

@media (min-width: 1300px) {
  .missionBox,
  .newsBox,
  .vehiclesBox {
    width: 20%;
    margin: 10px;

    display: inline-block;
  }
}

@media (max-width: 790px) {
  .missionBox,
  .newsBox,
  .vehiclesBox {
    width: 50%;
  }
}

@media (max-width: 500px) {
  .missionBox,
  .newsBox,
  .vehiclesBox {
    width: 70%;
  }
}

@media (max-width: 320px) {
  .missionBox,
  .newsBox,
  .vehiclesBox {
    width: 80%;
  }
}
