.card {
  position: relative;
  border-style: solid;
  border-color: #3f3f3f;
  border-radius: 5px;

  background-color: #3f3f3f;
  color: white;

  display: inline-block;

  padding: 10px;

  /* No text highlighting */
  /* Chrome */
  user-select: none;
  /* Firefox */
  -moz-user-select: none;
  /* Safari */
  -webkit-user-select: none;
  /* IOS */
  -webkit-touch-callout: none;
  /* IE Edge */
  -ms-user-select: none;
}

.img {
  border-radius: 10px;

  height: 200px;
  width: 200px;

  margin: 30px auto;

  object-fit: cover;
}

.title {
  margin: 0 0 10px;
}

.text {
  margin: 0;
}

@media (max-width: 400px) {
  .img {
    height: 150px;
    width: 150px;
  }
}
