.card {
  /* No text highlighting */
  /* Chrome */
  user-select: none;
  /* Firefox */
  -moz-user-select: none;
  /* Safari */
  -webkit-user-select: none;
  /* IOS */
  -webkit-touch-callout: none;
  /* IE Edge */
  -ms-user-select: none;

  border-style: solid;
  border-color: #3f3f3f;
  border-radius: 5px;

  background-color: #3f3f3f;
  color: white;

  margin: 0 auto;
  padding: 30px 50px;

  width: 100%;
}

.img {
  border-radius: 10px;

  height: 250px;
  width: 250;

  margin: 0 auto 30px;

  object-fit: cover;
}

.title {
  margin: 0 0 10px;
}

.text {
  margin: 0;
}

@media (max-width: 450px) {
  .card {
    padding: 20px;
  }
}

@media (max-width: 400px) {
  .card {
    padding: 20px;
  }
  .img {
    height: 200px;
    width: 200px;
  }
}
