.img {
  border-radius: 10px;

  height: 200px;
  width: 200px;

  margin: 30px auto;

  object-fit: cover;
}

.title {
  margin: 0 0 10px;
}

.text {
  margin: 0;
}

@media (max-width: 400px) {
  .img {
    height: 150px;
    width: 150px;
  }
}
