.card,
.weatherBox {
  position: relative;
  border-style: solid;
  border-color: #3f3f3f;
  border-radius: 5px;

  background-color: #3f3f3f;
  color: white;

  display: inline-block;

  padding: 10px;

  width: 100%;

  /* No text highlighting */
  /* Chrome */
  user-select: none;
  /* Firefox */
  -moz-user-select: none;
  /* Safari */
  -webkit-user-select: none;
  /* IOS */
  -webkit-touch-callout: none;
  /* IE Edge */
  -ms-user-select: none;
}
.weatherBox {
  grid-row: 1 / span 2;
}

.title {
  margin: 10px 0 0;
}
.line {
  border-color: white;

  margin: 20px auto;

  border-style: solid;
  border-width: medium;
  border-radius: 5px;

  width: 90%;
}

.centerLoading {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.weatherCardsGrid {
  display: grid;

  grid-template-rows: auto;
  grid-template-columns: 42.5% 42.5%;
  gap: 5%;

  justify-content: center;
}

.posBtn {
  position: absolute;

  bottom: 15px;
  left: 0;
  right: 0;
  margin: auto;
}

@media (max-width: 450px) {
  .weatherCardsGrid {
    grid-template-columns: 90%;
    gap: 10px;
  }
}
