.card {
  border-style: solid;
  border-color: white;
  border-radius: 5px;

  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  padding: 5px;

  height: auto;
  min-height: 200px;
  width: 100%;
}

.forecastName {
  display: block;

  width: 100%;
  font-size: 100%;
  margin: 0;
}
