.card {
  border-style: solid;
  border-color: white;
  border-radius: 5px;

  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  padding: 5px;

  height: 195px;
  width: 100%;

  /* No text highlighting */
  /* Chrome */
  user-select: none;
  /* Firefox */
  -moz-user-select: none;
  /* Safari */
  -webkit-user-select: none;
  /* IOS */
  -webkit-touch-callout: none;
  /* IE Edge */
  -ms-user-select: none;
}

.forecastName {
  font-size: 15px;
  margin: 0;
}
