.box {
  border-style: solid;
  border-color: #3f3f3f;
  border-radius: 40px;

  color: white;
  display: inline-block;

  width: 150px;

  margin: 5px 0;

  /* No text highlighting */
  /* Chrome */
  user-select: none;
  /* Firefox */
  -moz-user-select: none;
  /* Safari */
  -webkit-user-select: none;
  /* IOS */
  -webkit-touch-callout: none;
  /* IE Edge */
  -ms-user-select: none;
}

.forecastName {
  margin: 5px 0 0;
  padding: 0 10px;
}

.forecastText {
  margin: 0;
}

.iconGroup {
  margin: -20px 0 20px;
  pointer-events: none;
}

.line {
  border-color: white;
  border-style: solid;
  border-width: medium;
  border-radius: 5px;

  margin: 20px auto;

  width: 40%;
}

.makeInline {
  display: inline-block;
}

@media (max-width: 330px) {
  .box {
    width: 125px;
  }
}
