.grid {
  display: grid;

  grid-template-columns: 24% 24% 24% 24%;

  gap: 1.33333333333%;
  justify-content: center;

  width: 100%;
  margin: auto;
}

.box {
  border-style: solid;
  border-color: white;

  border-radius: 5px;

  background-color: #3f3f3f;

  color: white;
  display: inline-block;

  margin: 5px auto;
  width: 100%;
}

.forecastName {
  margin: 10px 0;
  padding: 0 10px;
}

.forecastText {
  margin: 0;
}

.iconGroup {
  margin: -20px 0 20px;
  pointer-events: none;
}

.line {
  border-color: white;
  border-style: solid;
  border-width: thin;
  border-radius: 5px;

  margin: 20px auto;

  width: 60%;
}

.makeInline {
  display: inline-block;
}
