.pos,
.home {
  position: relative;
  top: 5.5vw;
}

.home {
  display: grid;

  grid-template-rows: 400px;
  grid-template-columns: 40% 40%;

  grid-auto-flow: dense;
  gap: 30px;

  justify-content: center;
}

@media (max-width: 800px) {
  .pos {
    top: 4vw;
  }
}

@media (max-width: 470px) {
  .pos {
    top: 5.5vw;
  }
}

@media (max-width: 410px) {
  .pos {
    top: 2vw;
  }
}
