.iconText {
  margin: 0;
  font-weight: bold;
}

.linkDiv {
  display: inline-block;
  margin: 80px;
  transform: scale(4);
}

.link {
  text-decoration: none;
  display: inline-block;
  color: black;
}

.link:hover {
  color: #3f3f3f;
}
@media (max-width: 2200px) {
  .linkDiv {
    margin: 70px;
  }
}

@media (max-width: 1000px) {
  .linkDiv {
    transform: scale(3.5);
    margin: 60px;
  }
}

@media (max-width: 500px) {
  .linkDiv {
    transform: scale(3);
  }
}
